#main {
    padding-top: 180px;
    display: flex;
    justify-content: space-between; /* Asegura que los elementos se distribuyan en ambos lados */
    text-align: left;
    min-height: calc(100vh - 160px); 
    padding-bottom: 100px;
    padding: 20px;
    h1 {
        font-size: 35px;
    }
}



.learning-box {
    width: 50%;
}
.image-aushunpiu {
    width: 50%; /* Esto asegura que la imagen no ocupe mas del 50% del ancho de la pagina */
    margin: 0 auto; /* Esto centra la imagen dentro de su contenedor */
}

.image-aushunpiu img {
    max-width: 100%; /* La imagen no se expandira mas alla del 50% de su contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
}